extends layout

block content

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Headliner #{results}
    h6 Results:

  form(method='POST' action='/results')
    input(type='hidden', name='_csrf', value=_csrf) 
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='name') Enter words for word list:
      .col-md-8
        input.form-control(type='text', name='words', id='words', autocomplete='name', value=prevValue, autofocus=true)
      dl.row
      dt.col-sm-3 similar nouns (single word only):
        |   
        dd.col-sm-9 #{wordsListResultN}   
      dl.row
      dt.col-sm-3 similar verbs (single word only):
        |   
        dd.col-sm-9 #{wordsListResultV}
      dl.row
      dt.col-sm-3 cortical.io result:
        |
        dd.col-sm-9 #{corticalResult}
      dl.row
      dt.col-sm-3 thesaurus.com result:
        |
        dd.col-sm-9 #{thesaurusResult}
    .form-group
      .offset-md-2.col-md-8.p-1
        button.btn.btn-primary(type='submit')
          | Resubmit
